<div class="row">
    <div class="col-md-4 alert alert-warning" style="height:100vp">
        <p>
            <button [routerLink]="['/add-candidates']" class="btn btn-primary btn-block" style="width: 100%;">Candidate Registration</button> 
        </p>
        <p>
            <button [routerLink]="['/search-candidates']" class="btn btn-warning btn-block" style="width: 100%;">Search Candidate</button>   
        </p>
        <p>
            <button  [routerLink]="['/schedule-interview']" class="btn btn-danger btn-block" style="width: 100%;">Schedule Interview</button>
        </p>
        <p>
            <button  [routerLink]="['/search-interview']" class="btn btn-info btn-block" style="width: 100%;">Search Interview</button>
        </p>
        <p>
            <button [routerLink]="['/update-status']" class="btn btn-dark btn-block" style="width: 100%;">Update Status</button>
        </p>
        <p>
            <button [routerLink]="['/update-offerletterstatus']" class="btn btn-success btn-block" style="width: 100%;">Update Offer Letter</button>
        </p>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>

